body {
    font-family: 'Red Hat Mono', Georgia, 'Times New Roman', Times, serif;
}

/* this is gonna be for a xl screen */
.container {
    max-width: 1400px;
    
}

/* navigation  */
nav {
    margin-top: 50px
}

.navbar-brand {
    font-size: 26px;
}

/* hero content  */


/* change the top margin for different screen sizes */
.hero {
    margin-top: 100px;
}

.hero p {
    font-size: 24pxs;
}

.intro {
    font-size: 30px;
    font-weight: 400;
}

/* personal links */

.work-links {
    list-style: none;
}

.work-links>li>a {
    color: black;
    padding: 0 20px;
    
}

.list-inline {
    display: flex;
    align-content: center;
}


@media (max-width: 767px) {
    .work-links {
        display: none;
    }
}